html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #ADD8E6;
}

#header {
	color: blue;
	font-weight: bold;
	font-family: 'Pacifico', cursive;
	text-align: center;
}

#full-screen-background-image {
	z-index: -999;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height; auto;
	position: fixed;
	top: 0;
	left: 0;
}

.citybubble:hover {
	stroke-width: 5px;
	stroke: white;
	opacity: 0.5;
}

head, body {
	font-family: 'Cabin Condensed', sans-serif;
	text-align: center;
}

.bubbletext {
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 9px;
}